@font-face{
    font-family: "Roboto";
    src:url(/typo/Roboto-Regular.ttf);}
@font-face {
    font-family: "Shrikhand";  
    src: url(/typo/Shrikhand-Regular.ttf);
}
/*-----balises génériques---*/
*{
   margin: 0;
   padding: 0;
   font-family: "Roboto", sans-serif;
}
 .main_page, header, body{
   max-width: 1200px;

   margin: auto;
}
html, body{
   margin: auto;
   scroll-behavior: smooth;
}
/*---entête--*/
header{ 
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}
.logo{
  text-align: center;
  margin-bottom: 20px;
}
.logo img{
  width: 60%;
}
.banniere{
  height: 100%;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(245, 240, 240);
 
}
.banniere .banniere_map{
  display: flex;
  justify-content: center;
  align-items: center;
padding-bottom: 10px;
border-top: 3px solid #dddcdc;
  width: 100%;
  background-color: #cac5c5;
}
div .banniere_icone { 
font-size: 12px;
 margin-left: 30px;
}
.search input{
  
  font-weight: 700;
 border: none;
 margin-left: 5px;
  background-color: #cac5c5;
}
.search  a{
 text-decoration: none;
}
.banniere_reservation h2{
    font-size: 20px;
    margin: 69px auto 10px auto;

}
.banniere_reservation p{
  font-size: 15px;
  margin-bottom: 20px;
}
.exploration{
  margin: auto;
  background: linear-gradient(to left top, #9860dd, #e459bd);
  text-decoration: none;
  font-size: 0.95rem;
  border: 0.5px solid #9860dd;
  padding: 10px;
  font-weight:500;
  border-radius: 60px;
}
.exploration a{
  text-decoration: none;
  color:white;      
}
.titre{
    font-size: 18px;
    margin: 10px auto;
}
.fonctionnement h2{
    margin: 30px auto;
}
.fonctionnement_liste{
    display: flex;
    justify-content: space-around;
}
.fonctionnement_liste a{
    text-decoration: none;
    color:black;
    font-weight: 500;
}
.fonctionnement_choix{
  background-color: rgb(245, 240, 240);
  margin-bottom: 50px;
  border-radius: 1.20rem;
  padding: 20px ;
  font-size: 15px;
  position: relative;
  box-shadow: 0.30rem 0.60rem 0.60rem rgb(216, 207, 207);
  width: 250px;
  list-style: none;
  align-items: center;
 }
.liste{
 left:-5px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  font-size: 15px;
  border-radius: 50rem;
  position:absolute;
  background-color: #9356DC;
  color: white;
  align-items: center;
}
.fonctionnement_icone{
    margin: 0 5px 0 20px; 
}
.black{
    margin-left: 10px;
}
.Restaurants{
 margin-bottom: 20px;
 padding-top: 20px;
 background-color: rgb(245, 240, 240);
}
.container_restaurant{
  display: flex;
  justify-content: space-between;
  height: auto;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
.restaurant_detail{
  border-radius: 15px;
  width: 320px;
  height: 154px;
margin: 60px;
  position: relative;
  background-color:white;
}
.restaurant_detail img{
  width: 100%;  
  height: 95%;
 border-radius: 15px 15px 0 0;
}
.text{
  position: absolute;
  width: 40px;
  color:  #439b85;
  padding: 6px;
  top: 5%;
  right: 4%;
  background-color: #99e2d0;
  width: auto;     
  font-size: 10px;
  font-weight: 600;
}
.description{
  display: flex;
  font-size: 13px;
  background-color: white;
  justify-content: space-between;
  padding: 5px 0 10px 10px;   
  box-shadow:  0px 10px 0px rgb(228, 222, 222);
  padding-right: 10px;
  border-radius: 0px 0px 15px 15px;
}
.bold{
  font-weight:bolder; 
}
.lieux{
    font-size: 12px;
}

.iconecoeur div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13px;
    height: 13px;
    cursor: pointer;
}
.iconecoeur_vide a{
visibility: hidden;
}
.iconecoeur_plein:a{
    visibility: visible;
  color:blueviolet;
    animation: animcoeur;
    cursor:pointer;
}
 /*-   
@keyframes animcoeur {
    100%{
        color:#9356DC;
        }
}-*/
footer{
    background-color: rgb(54, 48, 48);
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 0px;
    color: white;
    padding-left: 20px;
    height: auto;
}
.footer_info{
    display: flex;
    justify-content: space-around;
}
.logoimg{
    margin-bottom: 10px;
    filter: invert(100%);
    padding-bottom: 40px;
    padding-top: 40px;
  
}
.logoimg img{

    width: 150px;
}
.info_partenaire {      
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
}
.info_icone{
    margin-right: 10px;
    width: 20px;
    height: 16px;
}
@media screen and (max-width: 1000px){ 
.main_page .fonctionnement_liste{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    position: relative;
    padding-left: 10px;
       
}
 .Choix{
   position: absolute;   
   right: 10px;
  }
  .restaurant_detail{

 margin-left: 20px;
 margin-right: 10px;
    max-width: 320px;
    width: 100%;
  }
  footer{
      padding-left: 0;
  }
}      
@media screen and (max-width: 600px){
    .banniere_reservation h2{
        margin-top: 10px;
        font-size: 18px;
    }
    .banniere_reservation p{
        font-size: 11px;
    }
    .exploration{
        font-size: 0.75rem;
    }
.banniere_icone{
    padding-left: 30px;
}
.main_page .fonctionnement_liste{
    align-items: center;
}
.Choix{
    position: inherit;
  right: 0;
}
.fonctionnement_choix{
    width:220px
}
.footer_info{
flex-direction: column;
}
.mentions_contact{
    margin-bottom: 30px;
}
    
}
   @media screen and (min-width: 400px){
     .banniere{
         width: auto;
         
     }  
     .restaurant_detail{
     
     }
   } 
  
/*
.flexCenterAlign{
    display:flex;
    justify-content: center;
    align-items: center;
}
.flexCenter{
    display: flex;
    justify-content: center;
}

.flexMargeLeft{
 background-color: green;
}
.height{
   height: 100px
}
/*===========Accueil===============*/
/*----------header-----------------------------------------*
.en_tete{
    display: flex;
    justify-content: center;
    height: auto;
    padding: 30px;
    text-align: center;
}
header{
 position: relative;

}
.logo{
 font-family: Shrikhand;

}
.logo img{
    width: 60%;
}
            /*--css spécifique aux liens des différents restaurants--*
.page_prec{
 height: auto;
 justify-content: space-center;
 text-align: center;
 padding: 30px;
}
.page_prec i{
   padding-left: 30px;
 position: absolute;
}
.page_precedente{
    position: absolute;
    font-size: 1.25rem;
    left: 30px;
}
.page_precedente i{ 
    height: 100%;
    font-size: 2rem;
}
            
/*--------------fin_header---------*/
/*-------bannière----*

.banniere{
font-size: 1.25rem;
    background-color: #e7e1e1;
 
    padding: 20px 20px;
    border-top: 5px solid #dddcdc;
}
.localisation_icone{
    margin-right: 30px;
}
.localisation_texte{
    font-weight: bolder;
}
.reservation{
background-color: #f3f3f3;
flex-direction: column;
text-align: center;
font-size: 1.5rem;
font-weight:bolder;
padding-bottom: 50px;
}
.reservation_texte{
font-weight: bolder;
font-family: "Roboto-Bold";
margin-bottom: 0rem;
}
.light{
 color: gray;
 font-family: Roboto-Light;
 
}

.fonctionnement_liste{

}

.fonctionnement{
    margin-bottom: 3rem;

}
.black{
    font-size: 1.25rem;
  
    
}





.fonctionnement_titre{
 font-size: 1.5rem;
 width: 100%;
}

.fonctionnement_icone i:hover{
    cursor: pointer;
    color: #9356DC;
}




.container{
border-radius: 20px 20px 0 0;

max-width: 600px;
height: 400px;

}
.palette_du_gout, .note_enchantee{
    position: relative;
}
.text{
 
}

.bold{
    margin-left: 20px;
    font-weight: bolder;
    font-size: 25px;
    margin-bottom: 0px;
}
.lieux{
    margin-top: 5px;
    font-family: Roboto;
    margin-left: 20px;
    margin-bottom: 10px;
}

.main_page{
    padding:1rem;
    background-color: red;
}





.iconerest{
    color: gray;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
}
.iconerest i{     
    font-size: 40px;
    margin-right: 0px;
    padding-top: 30px;
    color:white
}
.iconerest, i{
    margin-top: 20px;
}
.iconerest .icone{
    margin-right: 0px;
    width: 60px;
    margin-top: 20px;
}

.info p{
   font-size: 45px;
   background-color:   rgb(54, 48, 48);;
   margin-top: 20px;
   margin-bottom: 0px;
   font-weight: bolder;
   margin-left: 0px;
}
.partenaire{
    color:white;
    width: 100%;
    font-size: 40px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
}
.partenaire p{
    font-size: 45px;
    margin-top: 20px;
    margin-bottom:0px;
    margin-left: 0px;
    font-weight: bolder;
    width: 100%;
}
.iconehand {
width: 75px;
}
.ionehand, .icone{
    margin-right: 0px;
    width: 56px;
    margin-top: 20px;
}
.iconerest i{
margin-top: 5px;
    }
 .iconerest, i{
    font-size: 50px;
    padding-top: 0px;
    margin-top: 0px;
    text-align: center;
}
.iconehand i{
    font-size: 35px; 
     padding-top: 25px;  
     margin-top: 0px; 
     text-align: center;
}
.mentions_legales{
    margin-top: 10px;
    font-size: 50px;
    margin-bottom: 30px;
}
.contact{
    margin-top: 10px;
    font-size: 50px;
    margin-bottom: 10px;
    }
    .iconerest{
        height: 75%;
        margin-left: 10px;
    }
    .iconerest i{
        font-size: 30px;
        padding-left: 0px;
    }
    .iconerest .icone{
        margin-top: 0px; 
    }
     

/*---------sectionMain_page----*



/*-----Section_Restaurants-----





/*--palette du goût--

.palette_gout{
    margin-bottom: 0px;
}
/*--
/*la note enchantée--*/

/*--

/*--A la française--
.francaise{
    margin-bottom: 100px;
    border-radius: 0px 0px 25px 25px;
  
}

/*--
.francaise img{
    height: 450px;
}
.franc{
    display: flex;
    justify-content: space-between;  
    margin-bottom: 0px;
    border-radius: 0px 0px 30px 30px;
    box-shadow:  5px 15px 5px rgb(228, 222, 222);
}
/*--Le_délice_des_sens--
.delice{
    border-radius: 0px 0px 30px 30px;
    padding-bottom: 100px;
}
.sens{
    display: flex;
    justify-content: space-between;     
    margin-bottom: 100px;
    border-radius: 0px 0px 25px 25px;
    background-color: white;
    box-shadow:  5px 15px 5px rgb(228, 222, 222);
}

/*=========css spécifique aux liens des différents restaurants======

/*--Restaurants--
.Restaurants_gout{
    background-color: rgb(238, 234, 234);
    padding-bottom: 70px;
}


.Menu .titre{
    font-size: 25px;
    font-family: Shrikhand;
}
.titre h2{
    width: 80%;
    font-size: 70px;
    padding-left: 30px;
}
.iconecoeur_gout i{
padding-bottom: 0px;
}
.iconecoeur_gout{
    padding-right: 20px;
    margin-right: 10px;
    height: 50%;
    margin-bottom: 25%;
}
.iconecoeur_gout, i{
    padding-right: 50px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 30px;
    font-size: 70px;
 height: auto;
 padding-top: 52px;
}
/*--entrées-



.trait_en_dessous{
    border-bottom: 1px solid;
    width: 100px;
    font-size: 50px;
}
.validate{
height: 150px;
width: 150px;
top:0;
right: 0;
 position: absolute;
 transform: translateX(100%);
 transition: .1s;
}

.entrees:hover .validate{
    transform: translateX(0%);
}



.Menu:hover {
  cursor: pointer;
}

.Menu_entrees p{
    font-size: 25px;
    margin-top: 0px;
    margin-left: 0px;
}

.Menu_entrees .entrees{
    margin-bottom: 60px;  
}

.entrees{
    display: flex;
    justify-content: space-between;
    border-radius: 40px;
    background-color: white;
    padding-left: 30px;
    position:relative;
 animation-name: deroulant;
 animation-duration: 5s;
 animation-delay: 0.5s;
    margin-bottom: 40px;
    font-family: Roboto; 
    position: relative;
}

/*--plats--
.Menu_plats p{
    font-size: 50px;
}
.Menu_plats .plats{
    margin-bottom: 60px;
}

.plats{
    display: flex;
    justify-content: space-between;
    border-radius: 40px;
    background-color: white;
    padding-left: 20px;
    position:relative;
    animation-name: deroulant;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    margin-right: 0px;
    font-family: Roboto;
}
/*--desserts--
.dessert{
    display: flex;
    justify-content: space-between;
    border-radius: 40px;
    background-color: white;
    padding-left: 30px;
   margin-bottom: 50px;
    font-family: Roboto;
}

.prix{
    font-weight: bolder;
    margin-top: 60px;
    margin-right: 30px;
    font-size: 45px;
    display: flex;
}

.detail{
    margin-top: 20px;
margin-bottom: 20px;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0px;
 
}


.commander{
    display: flex;
    justify-content: center;
}
.commande a{
  color:white
}
.commande {
   height: auto;
 padding-top: 4%;
 padding-bottom: 4%;
 padding-left: 15%;
 padding-right: 15%;
 width: 500px;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    border-radius: 45px;   
    background-color: #9356DC;    
}


/*--animation--
    @keyframes animation{
        from {
            margin-left: 100%;
            width: 300%;
          }
          75% {
            font-size: 300%;
            margin-left: 25%;
            width: 150%;
          }
        
          to {
            margin-left: 0%;
            width: 100%;
          }
    }
    
    @keyframes deroulant{
        0% {
            transform:translateY(200px);
        opacity :0;       
       }
        100% {
            transform:translateY(0px);
        opacity :1;       
      } 
    }  
    /*--
@keyframes animtest{
    0%{
        color: green;
    }
    50%{
        color:red;
    }
    100%{
        color: blue;
    }
}

/*--
    @media  screen and (min-width: 800px){
.w6Cent{
    width: 600px;
}
 .choix{
   margin-bottom: 130px; 
 }
    }
/*---
@media screen and (max-width: 400px){
   .fonctionnement_titre{
    width: 100%;
  
   }

}
@media  screen and (max-width: 600px){
  
  .main_page{
background-color: indianred;
display: none;
  }  
  

.fonctionnement_liste{
    background-color: blue;
}

.Restaurants{
    padding-left: 20px;
    margin-right: 20px;
}

}
@media  screen and (max-width: 1200px){
 
    
     .fonctionnement_titre{
     
         background-color: yellow;
        width: 100%;
        font-size: 2rem;
     }
     .fonctionnement_choix{
      justify-content: flex-start;
       font-size: 1.5rem;


width: 70%;

     }
    .fonctionnement_icone{
        margin-right: 30px;
        font-size: 1.5rem;
    }
    .black{
        font-size: 1.5rem;
    }

    .fonctionnement_liste{
       flex-direction: column;
    }
.Restaurants{
flex-direction: column;
justify-items: flex-start;
}
.main_page{
flex-direction: column;

}

.restaurant_titre{
    margin-left: 20px;
    font-size: 2rem;
}
 
}
 /*===css s'applique uniquement aux écrans dont la largeur est supérieure ou égale à 1000px===

 .flexDirection{
    flex-direction:column;
    height: auto;
}
 .page_precedente i{
     font-size: 30px;
     padding-top: 0px; 
 }
 .page_precedente, i{
     padding-top: 30px;
 }


    .logoimg{
    padding-top: 1%;
    padding-bottom: 1%;
    width: 60%;
 }
 
 .container_restaurant{
  justify-content: space-between;
  display: flex;

   }
.info{
    width:320px;
    margin-top: 20px;
}
.info p{
    font-size: 20px;
    padding-top: 20px;
   margin-right: 50px;
}
.partenaire{
 width: 100%;
}
.partenaire p{
    font-size: 20px;
padding-left: 0px;
}
.iconerest i{
    font-size: 20px;
    margin-top: 10px;
}
.iconehand i{
    font-size: 20px;
    margin-top: 0px;
   width: 70px;
}
.mentions_legales{
    font-size: 20px;
}
.contact{
    font-size: 20px;
}
}
@media  screen and (min-width: 1200px) {
.container{
    margin-top: 20px;
    height: 400px;
}
}
/*============================css s'appliquera aux écrans de 1200px minimum===================*/
/*.

div .exploration{
  width: 25%;
 margin-left: 40%;
 margin-right: 45%;
 padding-top: 20px;
 padding-bottom: 20px;
}
.banniere{
    margin-bottom: 0px;
}
.main_page h2{
    font-size: 50px;
}

.banniere h1{
    margin-bottom:20px;
    font-size: 60px;
}
.Main_page h2{
    font-size: 50px;  
}
/*---
.titre{
    border-radius: 20px 20px 0px 0px;
    padding-left: 0px;
    bottom:20px;
height: 50px;
    margin-left: 0px;
}
/*---
.titre_fonctionnement{
    font-size: 40px;
 margin-left: 20px;
}
.titre_fonctionnement h2:hover{
    animation: animtest 2s;
}
.titre_restaurant h2{
    font-size: 40px;
}


/*--footer--*/


/*--
.container_restaurant{
    display: flex;
    justify-content: space-between;
}


.note_enchantee{
   width: 100%; 
 height: 300px;
 margin-right: 60px;
 margin-bottom: 0px;
}
.note_enchantee img{
    height: 70%;
}

.bold{
  width: 100%; 
  font-size: 20px;
  margin-left: 5px;
}
.lieux{
    width: 50%;
    font-size: 20px;
    margin-left: 5px;
}
.iconecoeur, .icone{
    width: 30px;
}/*--
.iconecoeur i{
    font-size: 30px;
    padding-top: 10px;
   height: auto;
   margin-top: 10px;
   padding-right: 0px;
}/*--
.francaise{
    width: 100%;
 margin-right: 60px;
  height: 300px;
}
.francaise img{
   height: 70%;
}
.franc .lieux{
    width: 100%; 
}
.franc, .lieux{
    margin-bottom: 0px;
}
.delice{
    width: 100%;
   height: 300px;
}
.delice img{
    height: 100%;
}
.container_restaurant{
    width: 100%;
}
.delice img{
    height: 210px;
}
.delice .lieux{
    width: 100%;
}/*--
  .iconecoeur_gout{
    height:100%;
  }/*--
.iconecoeur_gout{
  
  }/*--
  .iconecoeur_gout, i{
      margin-top: -35px;
  }
.iconecoeur, i{
    font-size: 20px;
margin-top: -20px;
     margin-left: 0px;
  }
  .page_precedente{
    margin-top: 0px;
  }
  .page_precedente i{
    width: 60%;
    padding-top: 0px;
  }
  .page_prec{
      height: 30% ;
  }
  .Restaurants{
      width: 100%;
      padding-bottom: 20px;
}/*--
.Restaurants_gout{
    background-color: rgb(238, 234, 234);
}
  .titre h2{
     
  
     font-size: 18px;
     margin-bottom: 0px;
}
  .Menu{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.Menu_gout{
   align-items: flex-start;
     display: flex;
justify-content: space-between;
width: 100%;
height: auto;
background-color: rgb(238, 234, 234);
 }
 /*--
.palette_gout img{
    width: 300px;
    padding-top:30px;
    border-radius: 0px;
    padding-left: 5px;
}
.Menu{
    border-radius: 0px;
    padding-right: 0px;
    padding-left: 0px;
}
.Menu_entrees {
    font-size: 20px;
    margin-top: 30px;
      margin-bottom: 50px;
     font-weight: bolder;
      margin-left: 5px;
      margin-right: 20px;
  text-align: center;
  width: 40%;
 }
 .plats{
   width: 100%;
    height: auto;
 }
.Menu_plats p{
    font-size: 20px;
  margin-top: 30px;
    margin-bottom: 50px;
   font-weight: bolder;
    margin-left: 5px;
    margin-right: 20px;
}
.Menu_dessert{
    padding-left: 10px;
}
.Menu_dessert p{
    font-size: 20px;
    margin-top: 30px;
      margin-bottom: 60px;
     font-weight: bolder;
}
.entrees, .plats, .dessert{
    margin-right: 40px;
  width:80%;
    height: auto;
}
.dessert{
   
}
.detail{
   padding-top: 0px;
   width: 100%;
}
.detail h3{
    font-size: 14px;
font-family: Roboto-Bold;
    margin-bottom: 10px;
    margin-left: 0px;
 }
.detail p{
    font-size: 11.9px;
    margin-top: 0px;
    margin-bottom: 0px;
  margin-left: 0px;
    padding-bottom: 0px;
}
.prix{
    font-size: 18px;
 margin-top: 40px;
 margin-bottom: 20px;
 margin-left: 10px;
}
.commander{
    justify-content: center;
}
.commande{
width: 20%;
    font-size: 20px;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 30px;
    background-color: #9356DC;  
  }/*--
.logoimg{
 width: 30%;
}
.info {
  width: 300px;
}
.info p{
    font-size: 20px;
   margin-right: 20px;
}
.iconerest i{
    font-size: 20px;
    margin-left: 0px;
}
.iconehand i{
    font-size: 20px;
padding-left: 10px;
  width: 40px;
    padding-top: 20px;
}
.partenaire{
    width: 280px;
    font-size: 15px;  
}
.partenaire p{
    margin-left: 0px;
    padding-left: 0px;
    font-size: 20px;
    margin-left:10px;
    margin-right: 0px;
}
.mentions_legales{
    font-size: 22px;
}
.contact p{
    font-size: 20px;
}
.contact{
    font-size: 20px;
}
}